@model IEnumerable<pokoje.Events>

@{
    ViewBag.Title = "List of Events";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}

<h2>Lista rezerwacji</h2>

<style type="text/css">
    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color:#151516;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #d9dbe1;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #061638;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #828a9b;
        padding: 3px 7px 2px;
    }
</style>

<div id="content">
    @grid.GetHtml(
                tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
                columns: grid.Columns(
                    //here i will add column for serial no
                    grid.Column(columnName: "id", header: "Numer Rezerwacji", format:@<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
                    grid.Column(columnName: "text", header: "Nazwa rezerwacji?"),
                    grid.Column(columnName: "start_date", header: "Data i godzina rozpoczęcia"),
                    grid.Column(columnName: "end_date", header: "Data i godzina zakończenia"),
                    grid.Column(columnName: "room_id", header: "Numer pokoju"),
                    grid.Column(columnName: "user_id", header: "Numer Użytownika")
                    // grid.Column(header: "Czy odwołano?", format:@<text><input type="checkbox" checked="@item.isActive" disabled="disabled" /></text>)
                    ))
</div>

