@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Wojciech Kania:</strong>   <a href="mailto:wokania@onet.eu">wokania@onet.eu</a><br />
    <strong>Dominik Koliński:</strong> <a href="mailto:dominik.kolinski@gmail.com">dominik.kolinski@gmail.com</a>
</address>