@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rezerwacja pokoi konferencyjnych.</h1>
    <p class="lead">Kliknij aby zarezerwować jeden z dostępnych pokoi.</p>
    <p><a href="~/Calendar" class="btn btn-primary btn-lg">Rezerwuj &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pokój żółty.</h2>
        <p>
            W tym miejscu pojawi się informacja o zbliżających się spotkaniach w tym pokoju w dniu obecnym.
        </p>
        <p><a class="btn btn-default" href="~/Calendar/">Rezerwuj &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pokój zielony.</h2>
        <p>
            W tym miejscu pojawi się informacja o zbliżających się spotkaniach w tym pokoju w dniu obecnym.
        </p>
        <p><a class="btn btn-default" href="~/Calendar">Rezerwuj &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pokój niebieski.</h2>
        <p>
            W tym miejscu pojawi się informacja o zbliżających się spotkaniach w tym pokoju w dniu obecnym.
        </p>
        <p><a class="btn btn-default" href="~/Calendar">Rezerwuj &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Kalendarz dostępności</h2>
        <p>
            W tym miejscu pojawi się kalendarz dla spotkań na dany dzień dla wszystkich pokoi
        </p>
        <p><a class="btn btn-default" href="~/Views/Events/List">Zobacz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rezerwacja urządzeń multimedialnych.</h2>
        <p>
            W tym miejscu będzie można zarezerwować urządzenia przydatne w prezentacjach.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Rezerwuj &raquo;</a></p>
    </div>
</div>